<% content_for :title, 'Пользователи' %>

<div class="w-full">
  <div class="py-8 sm:py-16 block lg:py-24 relative bg-opacity-50 z-40">

    <div class="relative mx-auto h-full pb-20 md:pb-10 sm:max-w-xl md:max-w-full lg:max-w-screen-xl">

      <div class="mx-auto relative">
        <div class="max-w-xl mx-auto text-center">
          <div class="inline-flex px-4 py-1.5 mx-auto rounded-full">
            <p class="text-4xl font-semibold tracking-widest text-g uppercase">Пользователи</p>
          </div>
        </div>

        <%= render partial: 'search_bar' %>

        <% if @people.present? %>
          <div class="grid grid-cols-5 gap-8 mt-8">
            <%= render partial: 'card', collection: @people %>
          </div>
        <% else %>
          <div class="text-center font-bold text-xl mt-10">
            Пользователи не найдены. Попробуйте перезагрузить страницу или поменять параметры поиска.
          </div>
        <% end %>
      </div>
    </div>

    <%= render partial: 'layouts/pagy_down_bar' %>
  </div>
</div>
