<%= turbo_frame_tag 'participation' do %>

    <div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">

        <% if participant.accepted? %>
            <div class="mr-4 flex items-center bg-slate-400 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100">
                <svg class="svg-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5" />
                </svg>
                <span>Вы записаны</span>
            </div>
        <% else %>
            <%= button_to participant_path(participant.id, participants: { person_id: current_person, event_id: participant.event.id }), method: :put, class: 'mr-4 blue-btn' do %>
                <svg class="svg-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5" />
                </svg>
                <span>Подтвердить</span>
            <% end %>

            <div class="mr-4 flex items-center bg-slate-400 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100">
                <svg class="svg-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M9.529 9.988a2.502 2.502 0 1 1 5 .191A2.441 2.441 0 0 1 12 12.582V14m-.01 3.008H12M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <span>Вы приглашены</span>
            </div>
        <% end %>

        <%= button_to participant_path(participant), method: :delete, class: 'rose-btn' do %>
            <svg class="svg-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
            </svg>
            <span>Отменить участие</span>
        <% end %>

    </div>
<% end %>
