
<select class="border p-2 rounded">
    <option>Очно</option>
    <option>Онлайн</option>
</select>

<select class="border p-2 rounded">
    <option>4 Passangers</option>
    <option>3 Passangers</option>
    <option>2 Passangers</option>
</select>

<select class="border p-2 rounded">
    <option>Economy</option>
</select>

<div class="rounded bg-gray-300 p-2 ">
    <input type="text" placeholder="Введите название" class="bg-gray-300 focus:outline-none text-gray-700"/>
</div>

<button class="border-2 border-gray-500 px-4 py-2 font-semibold bg-transparent rounded-lg hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">Search</button>

