<% content_for :title, 'Организации' %>

<div class="w-full">
  <div class="py-8 sm:py-16 block lg:py-24 relative bg-opacity-50 z-40">

    <div class="relative mx-auto h-full pb-20 md:pb-10 sm:max-w-xl md:max-w-full lg:max-w-screen-xl">

      <div class="mx-auto max-w-7xl relative">
        <div class="max-w-xl mx-auto text-center">
          <div class="inline-flex px-4 py-1.5 mx-auto rounded-full">
            <p class="text-4xl font-semibold tracking-widest text-g uppercase">Организации</p>
          </div>
        </div>

        <div class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row">
          <%= render partial: 'search_bar' %>
        </div>

        <div class="grid grid-cols-1 gap-2 mt-12 sm:grid-cols-3 lg:mt-20">
          <%= render partial: 'card', collection: @organizations %>
        </div>
      </div>
    </div>

    <div class="max-w-xl mx-auto text-center m-4">
      <div class="inline-flex mx-auto rounded-full">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
</div>
